.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  /* background-image:url('images/home1.png');
    background-size: auto 100vh;
    background-position: center center;
    background-repeat: no-repeat;*/
}
@font-face {
  font-family: "DINAlternate-Bold";
  src: url("fonts/DINAlternate-Bold.ttf");
}
.logo {
  position: absolute;
  width: auto;
  height: 19vh;
  left: 27vw;
  top: -75vh;
  transition: all 3s;
  z-index: 900;
}
.bar .logo1 {
  position: absolute;
  width: auto;
  height: 4vh;
  left: 15vw;
  top: 2vh;
  transition: all 1s;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}
@-o-keyframes rotate {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(359deg);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes rotate1 {
  25% {
    transform: perspective(400px) rotateY(-45deg);
  }
  75% {
    transform: perspective(400px) rotateY(45deg);
  }
  100% {
    transform: perspective(400px) rotateY(0);
  }
}
@keyframes finger {
  0% {
    transform: translate(-5%);
  }
  50% {
    transform: translate(15%);
  }
  100% {
    transform: translate(0%);
  }
  75% {
    transform: translate(15%);
  }
  100% {
    transform: translate(-5%);
  }
}

@keyframes finger2 {
  0% {
    transform: translate(10%);
  }
  50% {
    transform: translate(-13%);
  }
  100% {
    transform: translate(5%);
  }
  75% {
    transform: translate(-13%);
  }
  100% {
    transform: translate(10%);
  }
}

.home .single:nth-child(1) {
  position: absolute;
  width: auto;
  height: 13.5vh;
  left: 15px;
  top: 4vh;
  transition: all 2s;
}

.home .single:nth-child(2) {
  position: absolute;
  width: auto;
  height: 17.5vh;
  left: 35vw;
  top: 4vh;
  transition: all 2s;
}
.home .single:nth-child(3) {
  position: absolute;
  width: auto;
  height: 12vh;
  left: 64vw;
  top: 7vh;
  animation: rotate1 3s infinite linear;
}

.home .single:nth-child(4) {
  position: absolute;
  width: auto;
  height: 25vh;
  left: 15px;
  top: 20vh;
  transition: all 2s;
}

.home .single:nth-child(5) {
  position: absolute;
  width: auto;
  height: 39vh;
  left: 3vw;
  top: 28vh;
  transition: all 2s;
  transform: rotate(0deg);
}

.home .single:nth-child(6) {
  position: absolute;
  width: auto;
  height: 25vh;
  left: 15vw;
  top: 47vh;
  transition: all 2s;
}
/* .home .single:nth-child(7){
    position: absolute;
    width: auto;
    height: 19vh;
    left: 27vw;
    top: 25vh;
    transition:all 1s;
}
.home .single:nth-child(7):hover{
    top:20vh;

} */
.home .single:nth-child(7) {
  position: absolute;
  width: auto;
  height: 19vh;
  left: 39vw;
  top: 33.5vh;
  animation: finger 4s infinite ease;
}

.home .single:nth-child(8) {
  position: absolute;
  width: auto;
  height: 15vh;
  left: 59.5vw;
  top: 33.5vh;
  transition: all 2s;
}
.home .single:nth-child(9) {
  position: absolute;
  width: auto;
  height: 17vh;
  left: 32vw;
  top: 50.5vh;
  transition: all 2s;
  transform: rotate(0deg);
}
.home .single:nth-child(10) {
  position: absolute;
  width: auto;
  height: 15vh;
  left: 72vw;
  top: 50vh;
  transition: all 2s;
}
.home .single:nth-child(11) {
  position: absolute;
  width: auto;
  height: 15vh;
  left: 87vw;
  top: 50vh;
}
.home .single:nth-child(12) {
  position: absolute;
  width: auto;
  height: 31vh;
  left: 0;
  top: 69vh;
}
.home .single:nth-child(13) {
  position: absolute;
  width: auto;
  height: 31vh;
  left: 23vw;
  top: 69vh;
  animation: finger2 4s infinite ease-in-out;
}

.home .single:nth-child(14) {
  position: absolute;
  width: auto;
  height: 31vh;
  left: 59vw;
  top: 69vh;
  transition: all 0.5s;
}
.home .single:nth-child(14):hover {
  transform: rotate(25deg);
}
.home .single:nth-child(15) {
  position: absolute;
  width: auto;
  height: 18vh;
  left: 80vw;
  top: 76vh;
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 3s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 3s;
  -webkit-animation: rotate 8s linear infinite;
  -moz-animation: rotate 8s linear infinite;
  -o-animation: rotate 8s linear infinite;
  animation: rotate 8s linear infinite;
}

.bar {
  width: 100vw;
  height: 8vh;
  background: rgb(255, 255, 255);
  /* border-bottom: 2px soli;
border-color: black; */
  box-shadow: 0px 10px 20px 0px rgba(105, 89, 30, 0.05);
  position: relative;
  z-index: 801;
}

.bar.fixed {
  width: 100vw;
  height: 8vh;
  background: rgb(255, 255, 255);
  /* border-bottom: 2px solid;
    border-color: black; */
  box-shadow: 0px 10px 20px 0px rgba(105, 89, 30, 0.05);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 801;
}
@keyframes finger3 {
  0% {
    transform: opacity(0);
  }

  100% {
    transform: opacity(1);
  }
}

.bar .xuanxiang {
  float: right;
  width: auto;
  height: 3vh;
  text-align: center;
  font-size: 2vh;
  line-height: 2vh;
  border-bottom: 0px solid #f39c12;
  transition: all 0.5s;
  font-family: "DINAlternate-Bold";
  margin-top: 3vh;
  margin-right: 15vw;
}
.bar .xuanxiang:hover {
  border-bottom: 5px solid #f39c12;
}
.bar .xuanxiang:nth-child(2) {
  margin-right: 5vw;
}

.part1 {
  width: 70vw;
  height: 220vh;
  margin: 20vh auto;
  font-family: "DINAlternate-Bold";
  /* background: #000; */
}
.work1 {
  width: 69.5vw;
  height: 45vh;
  margin: 1vh auto;
  border: 3px solid #000;
  position: relative;
  overflow: hidden;
  float: left;
  transition: all 1s;
  background-image: url("images/part1/work1_1.png");
  background-size: auto;
  background-position: center right;
}
.work1 .title {
  position: absolute;
  top: 20vh;
  left: 2vw;
  z-index: 12;
  transition: all 1s;
}
.title p {
  font-size: 2vh;
  line-height: 2vh;
  display: inline;
  transition: all 1s;
}

.title h1 {
  font-size: 5.5vh;
  line-height: 5.5vh;
  margin-top: 3vh;
  transition: all 1s;
}
.work1:hover h1 {
  background-color: #f1a326;
}
.work1:hover p {
  background-color: #f1a326;
}
.work1:hover .title {
  top: 30vh;
}
.work1:hover {
  transition: all 1s;
  background-image: url("images/part1/work1_2.png");
  background-size: auto;
  background-position: top right;
}

.work1 img {
  height: 55vh;
  width: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); /* 50%为自身尺寸的一半 */
  -webkit-transform: translate(-50%, -50%);
  transition: all 1s;
}

.work2 {
  width: 69.5vw;
  height: 45vh;
  margin: 1vh auto;
  border: 3px solid #000;
  position: relative;
  overflow: hidden;
  float: left;
}
.work2 .title {
  position: absolute;
  bottom: 6vh;
  left: 2vw;
  z-index: 12;
  transition: all 1s;
}
.work2 img {
  height: 75vh;
  width: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); /* 50%为自身尺寸的一半 */
  -webkit-transform: translate(-50%, -50%);
  transition: all 1s;
}

.work2:hover h1 {
  background-color: #f1a326;
}
.work2:hover p {
  background-color: #f1a326;
}

/* .work34 {
  width: 44vw;
  height: 74vh;
  position: relative;
  float: right;
} */
.work3 {
  width: 69.5vw;
  height: 45vh;
  margin: 1vh auto;
  border: 3px solid #000;
  position: relative;
  overflow: hidden;
  float: left;
  color: #000000;
  transition: all 1s;
  background-image: url("images/part1/work7_1.png");
  background-size: auto;
  background-position: center right;
}
.work3 .title {
  position: absolute;
  top: 20vh;
  left: 2vw;
  z-index: 12;
  transition: all 1s;
}
.work3 img {
  height: auto;
  width: 69.5vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); /* 50%为自身尺寸的一半 */
  -webkit-transform: translate(-50%, -50%);
  transition: all 1s;
}

.work3:hover h1 {
  background-color: #f1a326;
}
.work3:hover p {
  background-color: #f1a326;
}
.work3:hover .title {
  top: 30vh;
}

.work3:hover {
  transition: all 1s;
  background-image: url("images/part1/work7_2.png");
  background-size: auto;
  background-position: top right;
}

.work4 {
  width: 69.5vw;
  height: 45vh;
  margin: 1vh auto;
  border: 3px solid #000;
  position: relative;
  overflow: hidden;
  float: left;
  transition: all 1s;
  background-image: url("images/part1/work4_1.png");
  background-size: auto;
  background-position: center right;
}
.work4 .title {
  position: absolute;
  top: 20vh;
  left: 2vw;
  z-index: 12;
  transition: all 1s;
}
.work4:hover h1 {
  background-color: #f1a326;
}
.work4:hover p {
  background-color: #f1a326;
}
.work4:hover .title {
  top: 30vh;
}

.work4:hover {
  transition: all 1s;
  background-image: url("images/part1/work4_2.png");
  background-size: auto;
  background-position: top right;
}

.work4 img {
  height: 45vh;
  width: auto;
  /* position: absolute;
  left: 0vw;
  top: 10vh; */
  transform: translate(-50%, -50%); /* 50%为自身尺寸的一半 */
  -webkit-transform: translate(-50%, -50%);
  transition: all 1s;
}

.others {
  position: relative;
  float: left;
  margin-top: 10vh;
  height: 5vh;
  width: 70vw;
  font-size: 20px;
  margin-left: 2vw;
}

.work56 {
  width: 35vw;
  height: 70vh;
  position: relative;
  float: left;
}
.work5 {
  width: 40vw;
  height: 34vh;
  margin: 1vh 0;
  border: 3px solid #000;
  position: relative;
  overflow: hidden;
  float: left;
}
.work6 {
  width: 40vw;
  height: 33.5vh;
  margin: 1vh 0;
  border: 3px solid #000;
  position: relative;
  overflow: hidden;
  float: left;
}
.work7 {
  width: 28vw;
  height: 70vh;
  margin: 1vh 0;
  border: 3px solid #000;
  position: relative;
  overflow: hidden;
  float: right;
}
.work7:hover {
  background-image: url("images/part1/youxi1.png");
  background-size: auto;
  background-position: center left;
}
.work7:hover .title {
  color: #fff;
}
.work6:hover {
  background-image: url("images/part1/work3.png");
  background-size: auto;
  background-position: center center;
}

.work5:hover {
  background-image: url("images/part1/work6.png");
  background-size: auto;
  background-position: center center;
}

.work5 .title {
  position: absolute;
  bottom: 6vh;
  left: 2vw;
  right: 2vw;
  z-index: 12;
  transition: all 1s;
}
.work6 .title {
  position: absolute;
  bottom: 6vh;
  left: 2vw;
  right: 2vw;
  z-index: 12;
  transition: all 1s;
}
.work7 .title {
  position: absolute;
  bottom: 6vh;
  left: 2vw;
  right: 2vw;
  z-index: 12;
  /* transition: all 1s; */
  color: #000;
}
.work5 img {
  height: 45vh;
  width: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); /* 50%为自身尺寸的一半 */
  -webkit-transform: translate(-50%, -50%);
  transition: all 1s;
  margin: 0 auto;
}

/* .work5:hover h1 {
  background-color: #e7cdcd;
}
.work5:hover p {
  background-color: #e7cdcd;
} */
.work6 img {
  height: auto;
  width: 43vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); /* 50%为自身尺寸的一半 */
  -webkit-transform: translate(-50%, -50%);
  transition: all 1s;
}
/* .work6 h1 {
  color: #fff;
  transition: all 1s;
}
.work6:hover h1 {
  color: #000;
} */

.work7 img {
  height: 75vh;
  width: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); /* 50%为自身尺寸的一半 */
  -webkit-transform: translate(-50%, -50%);
  transition: all 1s;
}

.work7 {
  color: #fff;
}

/* .work7:hover p {
  color: #fff;
}

.work7:hover h1 {
  color: #fff;
} */

.footer {
  width: 100vw;
  height: 8vh;
  background: rgb(255, 255, 255);
  position: relative;
  z-index: 100;
}

.footer .xuanxiang {
  float: left;
  width: auto;
  height: 3vh;
  text-align: center;
  font-size: 2vh;
  line-height: 2vh;
  border-bottom: 0px solid #f39c12;
  transition: all 0.5s;
  font-family: "DINAlternate-Bold";
  margin-top: 3vh;
  margin-left: 15vw;
}
.footer .xuanxiang:hover {
  border-bottom: 5px solid #f39c12;
}
.footer .xuanxiang:nth-child(2) {
  margin-left: 5vw;
}

.footer .email {
  float: right;
  margin-top: 3vh;
  margin-right: 15vw;
  font-size: 1vh;
  line-height: 1vh;
  text-align: center;
  height: 3vh;
  width: auto;
  font-family: "DINAlternate-Bold";
}

@keyframes finger3 {
  0% {
    transform: translate(0%);
  }
  50% {
    transform: translate(-25%);
  }
  100% {
    transform: translate(10%);
  }
  75% {
    transform: translate(-25%);
  }
  100% {
    transform: translate(0%);
  }
}

.final {
  width: 100vw;
  height: 40vh;
  position: relative;
}

.final img:nth-child(1) {
  position: absolute;
  width: 16vw;
  height: auto;
  left: 15px;
  top: 1vh;
  transition: all 2s;
  animation: finger3 5s infinite ease-in-out;
}
.final img:nth-child(2) {
  position: absolute;
  width: 10vw;
  height: auto;
  left: 19vw;
  top: 2vh;
  transition: all 2s;
  animation: finger3 5s infinite ease-in-out;
}
.final img:nth-child(3) {
  position: absolute;
  width: 24vw;
  height: auto;
  left: 45vw;
  top: 1vh;
  transition: all 2s;
}

.final img:nth-child(4) {
  position: absolute;
  width: 10vw;
  height: auto;
  left: 74vw;
  top: 1vh;
  transition: all 2s;
}
.final img:nth-child(5) {
  position: absolute;
  width: 10vw;
  height: auto;
  left: 84vw;
  top: 1vh;
  transition: all 2s;
}

.final img:nth-child(6) {
  position: absolute;
  width: 30vw;
  height: auto;
  left: 9vw;
  top: 22vh;
  transition: all 2s;
}

.final img:nth-child(7) {
  position: absolute;
  width: 43vw;
  height: auto;
  left: 30vw;
  top: 17vh;
  transition: all 2s;
  transform: rotate(0deg);
}
.final img:nth-child(8) {
  position: absolute;
  width: 26vw;
  height: auto;
  left: 73vw;
  top: 22vh;
  transition: all 2s;
}
.final img:nth-child(9) {
  position: absolute;
  width: 10vw;
  height: auto;
  left: 33vw;
  top: 0vh;
  transition: all 2s;
  opacity: 0;
}

.title h1 {
  font-size: 48px;
}
