@font-face {
  font-family: "DINAlternate-Bold";
  src: url("fonts/DINAlternate-Bold.ttf");
}

body {
  background: #000;
  background-image: url("images/work4/toutou2.gif");
  background-size: 120vw auto;
  background-position: center top;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

h1 {
  font-size: 48px;
  line-height: 120%;
  margin-bottom: 3vh;
  font-weight: 700;
  font-family: "DINAlternate-Bold";
}

h3 {
  font-size: 28px;
  line-height: 120%;
  margin-bottom: 3vh;
  font-weight: 500;
  font-family: "DINAlternate-Bold";
}

p {
  font-size: 18px;
  line-height: 140%;
  font-weight: 300;
}
h4 {
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 4px;
  font-family: "DINAlternate-Bold";
}

h5 {
  font-weight: 450;
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 4px;
  font-weight: 500;
}

.bar {
  width: 100vw;
  height: 8vh;
  background: rgba(255, 255, 255, 1);
  /* border-bottom: 2px solid;
    border-color: black; */
  /* box-shadow:0px 10px 20px 0px rgba(105, 89, 30, 0.05) ; */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 801;
  transition: all 1s;
}

.bar .xuanxiang {
  float: right;
  width: auto;
  height: 3vh;
  text-align: center;
  font-size: 2vh;
  line-height: 2vh;
  border-bottom: 0px solid #f39c12;
  transition: all 0.5s;
  font-family: "DINAlternate-Bold";
  margin-top: 3vh;
  margin-right: 15vw;
}
.bar .xuanxiang:hover {
  border-bottom: 5px solid #f39c12;
}
.bar .xuanxiang:nth-child(2) {
  margin-right: 5vw;
}
.bar .logo {
  position: absolute;
  width: auto;
  height: 4vh;
  left: 15vw;
  top: 2vh;
  transition: all 1s;
  opacity: 1;
}
.banner {
  width: 100vw;
  height: 100vh;

  z-index: 0;
}

/* .banner img{
    width: 120vw;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.beijing {
  width: 100vw;
  height: 85vh;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(14px);
  box-shadow: inset 0px 2px 0px rgba(255, 255, 255, 0.3);
  color: #fff;
  transition: all 3s;
  z-index: 100;
  opacity: 0;
  overflow: hidden;
}

.beijing .bg {
  width: 40vw;
  margin-left: 15vw;
  height: auto;
  float: left;
  margin-top: 10vh;
}

.beijing .team {
  width: 7vw;
  margin-right: 15vw;
  margin-top: 10vh;
  float: right;
  height: auto;
}
.beijing .team1 {
  width: 12vw;
  margin-right: 2vw;
  margin-top: 10vh;
  float: right;
  height: auto;
}
.beijing h4 {
  color: #b7b1ff;
}

.bg .line {
  width: 80px;
  border-top: 1px solid #b7b1ff;
  height: 3vh;
}

.team .line {
  width: 40px;
  border-top: 1px solid #b7b1ff;
  height: 3vh;
}
.team1 .line {
  width: 60px;
  border-top: 1px solid #b7b1ff;
  height: 3vh;
}

.bg .bgg {
  margin-top: 5vh;
}

.chuantong {
  width: 100vw;
  height: 80vh;
  background: #000;
  overflow: hidden;
}

.chuantong .c1 {
  float: left;
  position: relative;
  width: 30vw;
  height: 80vh;
  overflow: hidden;
  margin-left: 15vw;
}

.chuantong .c1 img {
  width: 25vw;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.chuantong .c2 {
  float: right;
  position: relative;
  width: 40vw;
  height: 80vh;
  overflow: hidden;
  margin-right: 11vw;
}

.chuantong h5 {
  margin-top: 30vh;
  width: 25vw;
  color: #b7b1ff;
  float: left;
}
.chuantong .line {
  width: 200px;
  border-top: 1px solid #b7b1ff;
  height: 3vh;
  margin-top: 34vh;
}

.chuantong p {
  margin-top: 3vh;
  color: #fff;
  font-size: 24px;
  margin-right: 4vw;
  float: left;
}

.wenti {
  width: 100vw;
  height: 180vh;
  position: relative;
  transition: all 3s;
  background: #000;
  overflow: hidden;
}

.wenti .line {
  width: 60px;
  border-top: 1px solid #b7b1ff;
  height: 3vh;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10vh;
}

.wenti h1 {
  width: 30vw;
  color: #fff;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 22vh;
  line-height: 140%;
  font-size: 32px;
}

.wenti h4 {
  color: #b7b1ff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 12vh;
}

.wenti .caotu {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.wenti .ww {
  width: 100vw;
  height: 40vh;
}

.wenti .caotu img {
  position: absolute;
}

.wenti .caotu .bd {
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.wenti .caotu img:nth-child(1) {
  width: 53vw;
  height: auto;
  left: 13vw;
  top: 6vh;
}

.wenti .caotu img:nth-child(2) {
  width: 53vw;
  height: auto;
  left: 34vw;
  top: 47vh;
}

.wenti .caotu img:nth-child(3) {
  width: 16vw;
  height: auto;
  left: 21vw;
  top: 76vh;
}
.wenti .caotu img:nth-child(4) {
  width: 12vw;
  height: auto;
  left: 62vw;
  top: 27vh;
}

.part1 {
  width: 100vw;
  height: 190vh;
  position: relative;
  transition: all 3s;
  background: #000;
  overflow: hidden;
}

.part1 .ww .line {
  width: 60px;
  border-top: 1px solid #b7b1ff;
  height: 3vh;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10vh;
}

.part1 .ww h5 {
  color: #b7b1ff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 13vh;
}

.part1 .ww {
  width: 100vw;
  height: 25vh;
}

.chuantong1 .c2 .pp {
  font-size: 16px;
}

.chuantong1 {
  width: 100vw;
  height: 80vh;
  background: #000;
}

.chuantong1 .c1 {
  float: left;
  position: relative;
  width: 30vw;
  height: 80vh;
  overflow: hidden;
  margin-left: 15vw;
}

.chuantong1 .c1 img {
  width: 25vw;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.chuantong1 .c2 {
  float: right;
  position: relative;
  width: 34vw;
  height: 80vh;
  overflow: hidden;
  margin-right: 11vw;
}

.chuantong1 h5 {
  margin-top: 30vh;
  width: 10vw;
  color: #b7b1ff;
  float: left;
}
.chuantong1 .line {
  width: 60px;
  border-top: 1px solid #b7b1ff;
  height: 3vh;
  margin-top: 34vh;
}

.chuantong1 p {
  margin-top: 3vh;
  color: #fff;
  font-size: 24px;
  margin-right: 4vw;
  float: left;
}

.part1 .caotu {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.part1 .caotu img {
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.4);
}
.part1 .caotu img:nth-child(1) {
  width: 33vw;
  height: auto;
  left: 17vw;
  top: 20vh;
}

.part1 .caotu img:nth-child(2) {
  width: 33vw;
  height: auto;
  left: 49vw;
  top: 12vh;
}

.part1 .caotu img:nth-child(3) {
  width: 33vw;
  height: auto;
  left: 35vw;
  top: 48vh;
}

.part2 {
  width: 100vw;
  height: 300vh;
  position: relative;
  transition: all 3s;
  background: #000;
  overflow: hidden;
}

.part2 .ww .line {
  width: 60px;
  border-top: 1px solid #b7b1ff;
  height: 3vh;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10vh;
}

.part2 .ww h5 {
  color: #b7b1ff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 13vh;
}

.part2 .ww {
  width: 100vw;
  height: 120vh;
  position: relative;
  margin-top: 15vh;
}
.part2 p {
  color: #fff;
  text-align: center;
}

.part2 .ww .b1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 20vh;
  width: 40vw;
}

.part2 .ww .b2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 105vh;
  width: 40vw;
}

.part2 .ww img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 30vh;
  width: 40vw;
}

.part2 .caotu {
  width: 100vw;
  height: 80vh;
  position: relative;
}

.part2 .caotu img {
  position: absolute;
  /* border: 1px solid rgba(255, 255, 255, 0.4); */
}

.part2 .caotu img:nth-child(1) {
  width: 24vw;
  height: auto;
  left: 19vw;
  top: 9vh;
}

.part2 .caotu img:nth-child(2) {
  width: 32vw;
  height: auto;
  left: 49vw;
  top: 20vh;
}

.part2 .b3 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 220vh;
  width: 40vw;
}

.p1 {
  width: 100vw;
  height: 80vh;
  background: #000;
  background-image: url("images/work4/zhichang1.png");
  background-size: 100vw auto;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.part3 {
  width: 100vw;
  height: 120vh;
  position: relative;
  transition: all 3s;
  background: #000;
  overflow: hidden;
}

.part3 .ww .line {
  width: 60px;
  border-top: 1px solid #b7b1ff;
  height: 3vh;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10vh;
}

.part3 .ww h5 {
  color: #b7b1ff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 13vh;
}

.part3 .ww {
  width: 100vw;
  height: 20vh;
  position: relative;
  margin-top: 0vh;
}

.part3 img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 30vh;
  width: 70vw;
  /* border: 1px solid rgba(255, 255, 255, 0.4); */
}

.p2 {
  width: 100vw;
  height: 80vh;
  background: #000;
  background-image: url("images/work4/zhinian.png");
  background-size: 100vw auto;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.zhuti {
  width: 100vw;
  height: 80vh;
  position: relative;
  background: #000;
}
.zhuti img {
  width: 7vw;
  height: auto;
  position: absolute;
  top: 40vh;
  left: 50%;
  transform: translateX(-50%);
}

.zhuti h4 {
  color: #b7b1ff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 23vh;
}
.zhuti .line {
  width: 90px;
  border-top: 1px solid #b7b1ff;
  height: 3vh;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 20vh;
}
.zhuti h5 {
  color: #b7b1ff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 23vh;
}

.fun1 {
  width: 100vw;
  height: 120vh;
  color: #ffffff;
  background: #000;
}
.fun1 .f1 {
  float: left;
  width: 45vw;
  height: auto;
  margin-left: 15vw;
  margin-top: 35vh;
}
.fun1 .f2 {
  float: right;
  width: 24vw;
  height: 80vh;
  margin-right: 10vw;
  overflow: hidden;
  position: relative;
  margin-top: 15vh;
}
.fun1 .f1 .ff {
  float: left;
  width: 12vw;
  height: auto;
  margin-right: 3vw;
  margin-top: 5vh;
}

.fun1 .f2 img {
  width: 26vw;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.fun1 h1 {
  letter-spacing: -2px;
}

.f1 .line {
  width: 80px;
  border-top: 1px solid #b7b1ff;
  height: 3vh;
}

.fun1 p {
  color: #fff;
}

.fun1 h5 {
  font-weight: 450;
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 4px;
  color: #b7b1ff;
}

.fun1 h3 {
  font-size: 24px;
  color: #b7b1ff;
}

.fun2 {
  width: 100vw;
  height: 120vh;
  color: #ffffff;
  background: #000;
}
.fun2 .f1 {
  float: left;
  width: 25vw;
  height: 80vh;
  margin-left: 15vw;
  margin-top: 35vh;
}
.fun2 .f2 {
  float: right;
  width: 45vw;
  height: 80vh;
  margin-right: 5vw;
  overflow: hidden;
  position: relative;
  margin-top: 15vh;
}
.fun2 .f1 .ff {
  float: left;
  width: 20vw;
  height: auto;
  margin-right: 3vw;
  margin-top: 5vh;
}

.fun2 .f2 img {
  width: 35vw;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.fun2 h1 {
  letter-spacing: -2px;
}

.f1 .line {
  width: 80px;
  border-top: 1px solid #b7b1ff;
  height: 3vh;
}

.fun2 h5 {
  font-weight: 450;
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 4px;
  color: #b7b1ff;
}

.fun2 h3 {
  font-size: 24px;
  color: #b7b1ff;
}

.bar1 {
  width: 100vw;
  height: 8vh;
}
.bar1 div:nth-child(1) {
  float: left;
  margin-left: 15vw;
  margin-top: 1vh;
  color: #b7b1ff;
  font-family: "DINAlternate-Bold";
  font-size: 24px;
  z-index: 22;
}
.bar1 div:nth-child(2) {
  float: right;
  margin-right: 15vw;
  margin-top: 1vh;
  color: #b7b1ff;
  font-family: "DINAlternate-Bold";
  font-size: 24px;
  z-index: 22;
}

.bar1 a {
  color: inherit;
}

.video {
  width: 100vw;
  height: 50vh;
  position: relative;
}

.video video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  z-index: 100;
}

.wei {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(14px);
}

.bbb {
  width: 100vw;
  height: 70vh;
  background: #000;
}
